.banner {
    position: relative;
    margin-bottom: 40px;
    &_swiper {
        .swiper-slide {
            width: 100%;
            padding-bottom: 62%;
            position: relative;
            >img {
                position: absolute;
                width: 100%;
                height: 100%;
                object-fit: cover;
                top: 0;
                left: 0;
            }
        }
        .swiper-button-prev, .swiper-button-next {
            width: 54px;
            height: 108px;
            >svg {
                filter: drop-shadow(0 2px 10px rgba(0,0,0,0.15));
                transition: $transition-common;
                path {
                    transition: $transition-common;
                }
            }
            &::after {
                display: none;
            }
            &:hover {
                >svg {
                    filter: drop-shadow(0 10px 25px rgba(0,0,0,0.35));
                    .btnArrow {
                        stroke: $secondary;
                    }
                }
            }
        }
        .swiper-button-prev {
            left: 0;
        }
        .swiper-button-next {
            right: 0;
        }
    }
    &_deco {
        position: absolute;
        width: 100%;
        left: 0;
        bottom: 0;
        z-index: 1;
    }
    @media screen and (max-width: 767px) {
        &_swiper {
            .swiper-slide {
                padding-bottom: 100%;
            }
            .swiper-button-prev, .swiper-button-next {
                width: 35px;
                height: 70px;
            }
        }
    }
}

.title {
    display: flex;
    align-items: flex-end;
    padding-bottom: 20px;
    position: relative;
    width: fit-content;
    margin-bottom: 55px;
    h2 {
        margin: 0;
        font-size: 48px;
        font-weight: 700;
        margin-right: 20px;
    }
    h3 {
        margin: 0;
        font-family: $font-lato;
        font-size: 20px;
        font-weight: normal;
        color: #B3AD9B;
    }
    &::before {
        position: absolute;
        content: "";
        width: calc(100% + 135px);
        height: 1px;
        background-color: #C5C1B3;
        bottom: 0;
        left: 0;
    }
    &::after {
        position: absolute;
        content: "";
        width: 9px;
        height: 9px;
        border-radius: 50%;
        background-color: #FFB018;
        left: calc(100% + 135px - 9px);
        bottom: -4px;
    }
    @media screen and (max-width: 767px) {
        width: 100%;
        h2 {
            font-size: 40px;
            margin-right: 10px;
        }
        h3 {
            font-size: 16px;
        }
        &::before {
            width: 100%;
        }
        &::after {
            left: calc(100% - 9px);
        }
    }
}

.home {
    &-news {
        padding-bottom: 100px;
        .row {
            margin-bottom: 55px;
        }
        &_item {
            position: relative;
            display: block;
            background-color: #fff;
            border-radius: 0 20px;
            border: 3px solid;
            border-color: #FFCB34 transparent transparent #FFCB34;
            box-shadow: 0 5px 15px rgba(0,0,0,0.15);
            padding: 18px 23px;
        }
        &_date {
            border-radius: 0 20px;
            background-color: #FFB018;
            color: #fff;
            width: 80px;
            height: 80px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            font-family: $font-lato;
            text-align: center;
            position: absolute;
            top: -15px;
            left: 30px;
            .day {
                font-size: 40px;
                font-weight: 900;
                margin-bottom: 5px;
                line-height: 1;
            }
            .m-y {
                font-size: 12px;
                margin: 0;
                line-height: 1;
            }
        }
        &_title {
            padding-left: 110px;
            margin: 0;
            font-size: 20px;
            font-weight: 500;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            overflow: hidden;
        }
        &_top {
            padding-bottom: 15px;
            border-bottom: 1px solid #D9D9D9;
        }
        &_content {
            padding-top: 15px;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 3;
            overflow: hidden;
            font-size: 14px;
            color: #979797;
            margin: 0;
        }
        @media screen and (max-width: 991px) {
            .row {
                margin-bottom: 0;
            }
            &_item {
                margin-bottom: 50px;
            }
        }
        @media screen and (max-width: 767px) {
            &_item {
                padding: 13px 18px;
            }
            &_date {
                width: 70px;
                height: 70px;
                top: -15px;
                left: 20px;
                .day {
                    font-size: 34px;
                }
            }
            &_title {
                padding-left: 90px;
                font-size: 18px;
            }
        }
    }
    &-intro {
        background-color: $primary;
        >.container {
            position: relative;
            padding-top: 100px;
            padding-bottom: 100px;
        }
        &_pic {
            width: 45%;
            position: absolute;
            left: 0;
            top: -75px;
        }
        &_text {
            width: 55%;
            padding-left: 75px;
            margin-left: auto;
            p {
                font-size: 18px;
                margin-bottom: 50px;
                line-height: 1.6;
                letter-spacing: 0.05em;
                text-align: justify;
            }
        }
        .title {
            width: 100%;
            &::before {
                width: 100%;
            }
            &::after {
                left: calc(100% - 9px);
            }
        }
        &_slogan {
            position: absolute;
            font-family: $font-lato;
            font-size: 36px;
            font-weight: 900;
            margin: 0;
            letter-spacing: 0.05em;
            right: 0;
            &.top {
                bottom: 5px;
                color: #fff;
            }
            &.bottom {
                top: calc(100% + 5px);
                color: #ecc85b;
            }
        }
        @media screen and (max-width: 991px) {
            &_pic {
                position: static;
                width: 100%;
                margin-bottom: 50px;
            }
            &_text {
                width: 100%;
                padding: 0;
            }
        }
        @media screen and (max-width: 575px) {
            &_slogan {
                right: 20px;
                font-size: 30px;
            }
        }
        @media screen and (max-width: 450px) {
            &_slogan {
                font-size: 22px;
            }
        }
        @media screen and (max-width: 370px) {
            .title {
                h2 {
                    font-size: 36px;
                }
                h3 {
                    font-size: 14px;
                }
            }
        }
    }
    &-work {
        padding-top: 100px;
        .row {
            margin-bottom: 15px;
        }
    }
}